<style>
    .contentText
    {
        color: #8861aa;
        font-size: 36px !important;
        line-height: 44px !important;
        margin: 0 auto 32px;
        max-width: 780px;
    }

    .center
    {
        text-align: center;
    }

    .ulHorizontal
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding: 30px 0 40px;
        width: 100%;
    }
    .ulHorizontal li
    {
        align-self: baseline;
        flex: 1 1 320px;
        padding: 0 40px 100px;
        text-align:center;
    }
    .ulHorizontal li h3::after {
    border-bottom: 1px solid #b0b0b0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}
.ulHorizontal li h3 {
    color: #252525;
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 20px;
    padding: 0 0 20px;
    position: relative;
}

</style>
    <div class="content">
        <div class="sleeve">
            <h1>Why We’re Here</h1>
            <p class="contentText center">
                We believe an organisation’s point of difference isn’t
					found in what it makes, but in who it is.
            </p>
            <section class="about-top">
                <p class="center">
                    Maintaining a competitive edge today is tough. Ideas can be stolen, talent
						poached and prices undercut. Products fall out of fashion, and business
						models become obsolete.
                </p>
                <p class="center">
                    But we think every company has something unique. It’s their most
						important and sustainable asset. It’s what we call a GeekTools.
                </p>
                <p class="center">
                    We help organisations to become more of themselves and less of everyone
						else. We rejuvenate and revitalise. We deliver a renewed sense of energy,
						optimism and possibility.
                </p>
                <p class="center">
                    We believe that somebody will always try to copy what you do.
						But nobody can ever steal who you are.
                </p>
            </section>
          
            <section class="core-values">
                <h2>Free Tools</h2>
               
                <ul class="ulHorizontal">
                    <li>
                        <img srcset="~/Images/1.png" width="182">
                        <h3>Make it Michelin</h3>
                        <p>
                            Obsess over the details.<br>
                            Care beyond expectation.<br>
                            Be fanatical about the result.
                        </p>
                    </li>
                    <li>


                        <img srcset="~/Images/2.png" width="148">
                        <h3>Question Like a Child</h3>
                        <p>Sidestep the obvious and challenge assumptions. Be thirsty for knowledge. Connect the dots.</p>
                    </li>
                    <li>
                        <img srcset="~/Images/3.png" width="227">
                        <h3>Stay Humble</h3>
                        <p>
                            Let your talent speak for itself.<br>
                            Be quietly confident, never arrogant.
                        </p>
                    </li>
                    <li>
                        <img srcset="~/Images/4.png" width="254">
                        <h3>Lead with Generosity</h3>
                        <p>Help others through your time, knowledge or means. Give without an expectation of getting.</p>
                    </li>
                    <li>
                        <img srcset="~/Images/5.png" width="165">
                        <h3>Embody Empathy</h3>
                        <p>
                            Stand in their shoes,<br>
                            feel with their heart,<br>
                            and see with their eyes.
                        </p>
                    </li>
                    <li>
                        <img srcset="~/Images/6.png" width="102">
                        <h3>Infect with Enthusiasm</h3>
                        <p>Uplift. Energise. Inspire.</p>
                    </li>
                </ul>
            </section>

        </div>
    </div>

